body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    background-color: transparent;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px ;
}

.bg_vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;
}

/* this will make sure that it fit to all screen size */
@media (max-aspect-ratio : 16/9) {
    .bg_vid{
        height: 100%;
        width: auto;
         
    }
}

@media (min-aspect-ratio : 16/9) {
    .bg_vid{
        width: 100%;
        height: auto;
         
    }
}