body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    background-color: transparent;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px ;
}

.bg_vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;
}

/* this will make sure that it fit to all screen size */
@media (max-aspect-ratio : 16/9) {
    .bg_vid{
        height: 100%;
        width: auto;
         
    }
}

@media (min-aspect-ratio : 16/9) {
    .bg_vid{
        width: 100%;
        height: auto;
         
    }
}


header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.123);
    height: 70px;
    backdrop-filter: blur(10px);
    padding: 0 30px;
    box-shadow: 0 0 15px rgba(17, 0, 53, 0.865);
    z-index: 999;

}




#left_logo{
    display: flex;
    align-items: center;
}

#left_logo img{
    width: 7vw;
    margin:  10px;

} 

header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 60px;
    border-radius: 50px ;
    background-color: rgba(0, 0, 69, 0.30);
    backdrop-filter: blur(10px);
    
}

header ul li {
    list-style: none;
    
}


header ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin: 10px;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.icons a{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border:2px solid rgb(255, 199, 130);
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;
}
.icons a:hover{
    background-color: rgba(57, 1, 1, 0.931);
    box-shadow: 0 0 15px rgb(239, 131, 0);
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    

}